.Deals{
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      justify-content: space-between;
      background-color: #fff;
      border: 1px solid #DEE2E7;
}

.title{
      color: #1C1C1C;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
}

.subtitle{
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      color: #8B96A5;
}

.Deals_item__wrapper{
      display: flex;
      flex-direction: row;
}


.deals_card{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 179px;
      height: 235px;
      align-items:center;
      justify-content: center;
      border:1px solid #E0E0E0;
}
.card-body{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.Deals__timer{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding-left: 20px;
      padding-top: 20px;
}

.card-name{
      color: var(--dark, #1C1C1C);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
      margin-top: 11px;
}

.item-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.card-img{
      width: auto;
      height:110px;
}

.card-discount{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
      width: 63px;
      height: 28px;
      color: #EB001B;
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.2px;
      border-radius: 29px;
      background: #FFE3E3;
}


.timer-wrapper{
      display: flex;
      flex-direction: row;
      padding-top: 18px;
}
.timer-number{
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
}


.timer-item{
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      background: #606060;
      margin-right: 6px;
      width: 45px;
      height: 50px;
      align-items: center;
      padding-top: 8px;

}
.timer-item:last-child{
      margin-right: 0;
}
.timer-text{
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      }