@import url(container.css);
@import url(header.css);
@import url(nav-menu.css);
@import url(categories.css);
@import url(deals_and_offers.css);
@import url(gadgets.css);
@import url(recommended.css);
@import url(extra.css);
@import url(suppliers.css);
@import url(subscribe.css);
@import url(footer.css);



body{
      margin: 0;
      padding: 0;
      background: var(--gray-100, #F7FAFC);
      
}