@import url(container.css);
@import url(header.css);
@import url(nav-menu.css);
@import url(categories.css);



body{
      margin: 0;
      padding: 0;
      background: var(--gray-100, #F7FAFC);
      
}